.customAccordion .p-accordion .p-accordion-header{
    background: violet !important;
  }

  .customScroll .custom .p-scrollpanel-wrapper {
    border-right: 9px solid #f4f4f4 !important;
 }
 .customScroll .p-scrollpanel-bar{
    background-color: #4122f0 !important;
    opacity: 1 !important;
    transition: background-color .3s !important;
 }
 
 .p-panel-header{
     background-color: #88acb9 !important;
 }

 .p-menubar{
  margin-top: -40px !important;
  background-color: #B8D6E2 !important;
}
.p-menuitem{
  font-weight: bold !important;
}